@model FindIt.Models.ModelViews.SearchViewModel

@{ 
    Layout = null;
}

@using (Html.BeginForm("SearchPost", "Notice", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
{


        <h3 class="text-center text-white">Поиск объявления:</h3>
        <div class="row">
            <div class="form-group col-md-3 text-center">
                @Html.EditorFor(m => m.SearchString, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите строку для поиска" } } )
            </div>
            <div class="form-group col-md-3 text-center">

                @Html.DropDownListFor(m => m.CategoryID, Model.Categories, htmlAttributes: new { @class = "form-control" } )
            </div>
            <div class="form-group col-md-3 text-center">

                @Html.DropDownListFor(m => m.CityID, Model.Cities, htmlAttributes: new { @class = "form-control" } )
            </div>

            <div class="form-group col-md-3 text-center">

                <input class="btn btn-default col-md-offset-3" id="searchButton" type="submit" value="Найти" />
            </div>
        </div>

}

